[Unit]
Description=USERNAME's money farmer
After=network.target

[Service]
User=USERNAME
Group=USERNAME
WorkingDirectory=/home/USERNAME/bb-freebet/
ExecStart=/usr/bin/bash /home/USERNAME/bb-freebet/run.sh
Restart=on-failure
KillMode=control-group

[Install]
WantedBy=multi-user.target
