[Unit]
Description=parser for freebet
After=network.target

[Service]
User=USERNAME
Group=USERNAME
WorkingDirectory=/usr/local/src/bb-freebet
ExecStart=/usr/bin/bash /usr/local/src/bb-freebet/parser.sh
Restart=on-failure
KillMode=control-group

[Install]
WantedBy=multi-user.target
