[Unit]
Description=Cleanup old files

[Service]
Type=oneshot
ExecStart=/usr/bin/find /usr/local/src/bb-freebet/downloads -type f -mmin +60 -exec rm -f {} \;
